<h1>gux-loading-message-beta</h1>

<h2>Indeterminate Small</h2>
<gux-loading-message-beta size="small">
  <span slot="title">This is a title</span>
  <span slot="body">This is a body of text</span>
</gux-loading-message-beta>

<h2>Indeterminate Medium</h2>
<gux-loading-message-beta size="medium">
  <span slot="title">This is a title</span>
  <span slot="body">This is a body of text</span>
</gux-loading-message-beta>

<h2>Indeterminate Large</h2>
<gux-loading-message-beta size="large">
  <span slot="title">This is a title</span>
  <span slot="body">This is a body of text</span>
</gux-loading-message-beta>

<h2>Determinate Small</h2>
<gux-loading-message-beta size="small" value="1" max-value="10">
  <span slot="title">This is a title</span>
  <span slot="body">this is a body of text</span>
</gux-loading-message-beta>

<h2>Determinate Medium</h2>
<gux-loading-message-beta size="medium" value="5" max-value="10">
  <span slot="title">This is a title</span>
  <span slot="body">this is a body of text</span>
</gux-loading-message-beta>

<h2>Determinate Large</h2>
<gux-loading-message-beta size="large" value="10" max-value="10">
  <span slot="title">This is a title</span>
  <span slot="body">this is a body of text</span>
</gux-loading-message-beta>
