@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/spacing.less';
@import (reference) '../../../style/color-mixins.less';

div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.gux-small-container {
    .gux-title-container {
      padding: @spacing-xs 0 @spacing-2xs;
    }

    slot[name='title'] {
      .h4();

      color: @gux-black-60;
    }

    slot[name='body'] {
      .gux-small-text();

      color: @gux-black-90;
    }
  }

  &.gux-medium-container {
    .gux-title-container {
      padding: @spacing-xs 0 @spacing-2xs;
    }

    slot[name='title'] {
      .h4();

      color: @gux-black-60;
    }

    slot[name='body'] {
      .gux-small-text();

      color: @gux-black-90;
    }
  }

  &.gux-large-container {
    .gux-title-container {
      padding: @spacing-medium 0 @spacing-2xs;
    }

    slot[name='title'] {
      .h1();

      color: @gux-black-60;
    }

    slot[name='body'] {
      .gux-large-text();

      color: @gux-black-90;
    }
  }
}
