@import (reference) '../../../style/typography.less';
@import (reference) '../../../style/spacing.less';
@import (reference) '../../../style/color-mixins.less';

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.gux-small-container {
    max-width: 160px;

    .gux-title-container {
      padding: @spacing-xs 0 @spacing-2xs;

      slot[name='title'] {
        color: @gux-black-60;
        text-align: center;
        overflow-wrap: break-word;
        .h4();
      }
    }

    slot[name='body'] {
      color: @gux-black-90;
      text-align: center;
      overflow-wrap: break-word;
      .gux-small-text();
    }
  }

  &.gux-medium-container {
    max-width: 300px;

    .gux-title-container {
      padding: @spacing-xs 0 @spacing-2xs;
      overflow-wrap: break-word;

      slot[name='title'] {
        color: @gux-black-60;
        text-align: center;
        overflow-wrap: break-word;
        .h4();
      }
    }

    slot[name='body'] {
      color: @gux-black-90;
      text-align: center;
      overflow-wrap: break-word;
      .gux-small-text();
    }
  }

  &.gux-large-container {
    max-width: 475px;

    .gux-title-container {
      padding: @spacing-medium 0 @spacing-2xs;
      overflow-wrap: break-word;

      slot[name='title'] {
        color: @gux-black-60;
        text-align: center;
        overflow-wrap: break-word;
        .h1();
      }
    }

    slot[name='body'] {
      color: @gux-black-90;
      text-align: center;
      overflow-wrap: break-word;
      .gux-large-text();
    }
  }
}
