<h1>gux-form-field-toggle</h1>

<p>slot a input[type=checkbox] element into a gux-form-field-toggle element</p>

<h2>Example</h2>
<form onchange="notify(event)" oninput="notify(event)">
  <fieldset>
    <legend>Single Label</legend>

    <gux-form-field-toggle>
      <input slot="input" type="checkbox" value="pizza" />
      <label slot="label">Pizza</label>
    </gux-form-field-toggle>

    <gux-form-field-toggle>
      <input slot="input" type="checkbox" value="pasta" checked />
      <label slot="label">Pasta</label>
    </gux-form-field-toggle>

    <gux-form-field-toggle loading>
      <input slot="input" type="checkbox" value="steak" />
      <label slot="label">Steak</label>
    </gux-form-field-toggle>

    <gux-form-field-toggle>
      <input slot="input" type="checkbox" value="sandwich" disabled />
      <label slot="label">Sandwich</label>
    </gux-form-field-toggle>

    <gux-form-field-toggle>
      <input slot="input" type="checkbox" value="sushi" />
      <label slot="label">Sushi</label>
      <span slot="error">Subject to availability</span>
    </gux-form-field-toggle>
  </fieldset>

  <fieldset>
    <legend>Unchecked and Checked Labels</legend>

    <gux-form-field-toggle unchecked-label="Eco" checked-label="Turbo">
      <input slot="input" type="checkbox" value="pizza" />
      <label slot="label"></label>
      <span slot="error">Subject to availability</span>
    </gux-form-field-toggle>

    <gux-form-field-toggle unchecked-label="Off" checked-label="On">
      <input slot="input" type="checkbox" value="pasta" checked />
      <label slot="label"></label>
    </gux-form-field-toggle>
  </fieldset>
</form>
